:root {
  --penguin-skin: gray;
  --penguin-face: white;
  --penguin-picorna: orange;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: clip;
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
}

.left-mountain {
  z-index: 2;
  width: 300px;
  height: 300px;
  margin-top: 100px;
  position: absolute;
  transform: skew(0deg, 44deg);
  background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
}

.back-mountain {
  z-index: 1;
  top: 225px;
  left: 110px;
  width: 300px;
  height: 300px;
  position: absolute;
  transform: rotate(45deg);
  background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255));
}

.sun {
  top: -75px;
  right: -75px;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  background-color: yellow;
}

.penguin {
  z-index: 4;
  margin: auto;
  width: 300px;
  height: 300px;
  margin-top: 75px;
  position: relative;
  transition: transform 1s ease-in-out 0ms;
}

.penguin * {
  position: absolute;
}

.penguin:active {
  cursor: not-allowed;
  transform: scale(1.5);
}

.penguin-head {
  width: 50%;
  height: 45%;
  background: linear-gradient(45deg,
      var(--penguin-skin),
      rgb(239, 240, 228));

      top: 10%;
      left: 25%;
      z-index: 1;
      border-radius: 70% 70% 65% 65%;
}

.face {
  top: 15%;
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
  background-color: var(--penguin-face);
}

.face.left {
  left: 5%;
}

.face.right {
  right: 5%;
}

.chin {
  top: 25%;
  left: 5%;
  width: 90%;
  height: 70%;
  border-radius: 70% 70% 100% 100%;
  background-color: var(--penguin-face);
}

.eye {
  top: 45%;
  width: 15%;
  height: 17%;
  border-radius: 50%;
  background-color: black;
}

.eye.left {
  left: 25%;
}

.eye.right {
  right: 25%;
}

.eye-lid {
  top: 25%;
  left: -23%;
  width: 150%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--penguin-face);
}

.blush {
  top: 65%;
  width: 15%;
  height: 10%;
  border-radius: 50%;
  background-color: pink;
}

.blush.left {
  left: 15%;
}

.blush.right {
  right: 15%;
}

.beak {
  height: 10%;
  border-radius: 50%;
  background-color: var(--penguin-picorna);
}

.beak.top {
  top: 60%;
  left: 40%;
  width: 20%;
}

.beak.bottom {
  top: 65%;
  left: 42%;
  width: 16%;
}

.shirt {
  z-index: 1;
  top: 165px;
  left: 127.5px;
  color: #6a6969;
  font: bold 25px Helvetica, sans-serif;
}

.shirt div {
  font-weight: initial;
  left: 12px;
  top: 22.5px;
}

.penguin-body {
  width: 53%;
  height: 45%;
  background: linear-gradient(45deg,
      rgb(134, 133, 133) 0%,
      rgb(234, 231, 231) 25%,
      white 67%);

  border-radius: 80% 80% 100% 100%;
  top: 40%;
  left: 23.5%;
}

.penguin-body::before {
  top: 10%;
  left: 25%;
  width: 50%;
  height: 45%;
  content: "";
  opacity: 70%;
  position: absolute;
  border-radius: 0% 0% 100% 100%;
  background-color: var(--penguin-skin);
}

.arm {
  width: 30%;
  height: 60%;
  background: linear-gradient(90deg,
      var(--penguin-skin),
      rgb(209, 210, 199));

  border-radius: 30% 30% 30% 120%;
  z-index: -1;
}

.arm.left {
  top: 35%;
  left: 5%;
  transform-origin: top left;
  animation: 3s linear infinite wave;
  transform: rotate(130deg) scaleX(-1);
}

.arm.right {
  top: 0%;
  right: -5%;
  transform: rotate(-45deg);
}

@keyframes wave {
  10% {
    transform: rotate(110deg) scaleX(-1);
  }

  20% {
    transform: rotate(130deg) scaleX(-1);
  }

  30% {
    transform: rotate(110deg) scaleX(-1);
  }

  40% {
    transform: rotate(130deg) scaleX(-1);
  }
}

.foot {
  top: 85%;
  width: 15%;
  height: 30%;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--penguin-picorna);
}

.foot.left {
  left: 25%;
  transform: rotate(80deg);
}

.foot.right {
  right: 25%;
  transform: rotate(-80deg);
}

.ground {
  z-index: 3;
  width: 100vw;
  height: 400px;
  margin-top: -58px;
  position: absolute;
  background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
}